<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Juego</title>
	<link rel="stylesheet" type="text/css" href="/static/stilo1.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script src="http://localhost:3000/socket.io/socket.io.js" type="text/javascript" charset="utf-8" async defer></script>
	<script src="{{STATIC_URL}}js/jquery-2.1.0.min.js" charset="utf-8" async defer></script>
	<script src="http://localhost:3000/javascripts/cliente.js" type="text/javascript" charset="utf-8" async defer></script>

</head>
<body>
	<div id="titulo">TRIVIADOR DOTA</div>
	<div id="contenedor">
		<div id="cabecera">
			<ul class="nav nav-tabs nav-justified">
				<li role="presentation" ><a href="#">QUIENES SOMOS</a></li>
				{%for item in menu%}
					<li role="presentation"><a href="{{item.url}}">{{item.label}}</a></li>
				{%endfor%}
				{% if not user.is_anonymous %}
					<li role="presentation"><a href="/Inicio/perfil/">PERFIL</a></li>
				{% endif %}		  	
		  		{% if user.is_anonymous %}
					<li role="presentation"><a href="/Inicio/login/">INICIAR SESION</a></li>
				{% endif %}
				{% if not user.is_anonymous %}
					<li role="presentation"><a href="/Inicio/logout/">{{user}} CERRAR SESION</a></li>
				{% endif %}
			</ul>
		</div>
		<div >
			<form action="" method="post" class="form" id="formulario">
				<div class="form-group">
					<div class="col-sm-10">
						{% csrf_token %}
						{{ form12.as_p }}
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">CREAR SALA</button>
			</form>
		</div>
		<div class="row">
			<div class="col-xs-5">
				<div id="conversacion">
					<h4>Chat</h4>
				</div>
				<div id="pagina">
				</div>
				<div id="controles">
					<input id="mensaje" type="text" placeholder="Ingresa el mensaje"/>
				</div>
			</div>
		</div>
	</div>
	<link rel="stylesheet" href="http://localhost:3000/stylesheets/style.css">
	<script src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js" ></script>

</body>
</html>
