<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Registro de preguntas</title>
	<link rel="stylesheet" type="text/css" href="/static/stilo1.css">
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<body>
	<div id="titulo">TRIVIADOR DOTA</div>
	<div id="contenedor">
		<div id="cabecera">
			<ul class="nav nav-tabs nav-justified">
				{%for item in menu%}
					<li role="presentation"><a href="{{item.url}}">{{item.label}}</a></li>
				{%endfor%}
				<li role="presentation" ><a href="/Inicio/registro/tema/">VER TEMAS</a></li>
				{% if not user.is_anonymous %}
					<li role="presentation"><a href="/Inicio/perfil/">PERFIL</a></li>
				{% endif %}
		  		{% if user.is_anonymous %}
					<li role="presentation"><a href="/Inicio/login/">INICIAR SESION</a></li>
				{% endif %}
				{% if not user.is_anonymous %}
					<li role="presentation"><a href="/Inicio/logout/">{{user}} CERRAR SESION</a></li>
				{% endif %}
			</ul>
		</div>
		<div class="container page">
			<div class="row">
				<div class="col-xs-12">
					{% if estado %}
						<div class="alert alert-success" role="alert">Se a registrado la pregunta</div>
					{% endif %}
					<form action="" method="post">
					<legend>{{ titulo }}</legend>
						{{formulario.as_p}}
					<legend>{{ titulo2 }}</legend>
					{{formulario2.as_p}}
						{% csrf_token %}
						<input type="submit" name="benviar" class="btn btn-primary btn-lg btn-block" value="Regitrar">
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="{{STATIC_URL}}js/jquery-2.1.0.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js" ></script>
</body>
</html>